src/host_registry.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- attributes -->
  <xs:attribute name="version" type="xs:string"/>
  <xs:attribute name="local_name" type="xs:string"/>
  <xs:attribute name="module" type="xs:string"/>
  <xs:attribute name="standard_name" type="xs:NCName"/>
  <xs:attribute name="description" type="xs:string"/>
  <xs:attribute name="units" type="xs:string"/>
  <xs:attribute name="dimensions" type="xs:string"/>
  <xs:attribute name="type" type="xs:string"/>
  <xs:attribute name="kind" type="xs:string"/>
  <xs:attribute name="state_variable" type="xs:boolean"/>

<!-- definition of simple elements -->

<!-- definition of complex elements -->
<xs:element name="subcycle">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="scheme" type="functionPointer" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="loop" type="xs:positiveInteger" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="group">
  <xs:complexType>
    <xs:choice>
      <xs:element ref="subcycle" minOccurs="1" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute name="part" type="xs:positiveInteger" use="optional"/>
  </xs:complexType>
</xs:element>

<xs:element name="suite">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="init" type="functionPointer" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="group" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="finalize" type="functionPointer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="lib" type="xs:string" use="optional"/>
    <xs:attribute name="ver" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:element>

</xs:schema>
